* {
    margin: 0;
    padding: 0;
}

.card-img-top {
    max-width: 112px;
}

#currentIcon {
    max-width: 200px;
}

.testContain {
    display: flex;
}

.forecastBlock {
    border: 2px solid black;
    margin: 2px;
    background-color: lightblue;
}