* {
    margin: 0;
    padding: 0;
}
p {
    margin: 0%;
}

.header {
    display: block;
    text-align: center;
}

.testContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.currentBlock {
    border: 1px solid black;
    margin: 1px;
    background-color: rgb(207, 235, 245);
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    display: flex;
    max-width: 183px;
    min-width: 132px;
}

.forecastBlock {
    border: 1px solid black;
    margin: 1px;
    background-color: #add8e6;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    display: flex;
    max-height: 135px;
    max-width: 183px;
}
